<div class="container">
  <div class="cocktail-edit">
    <div class="row">
      <div class='col-xs-12 col-sm-6'>
        <h1>Editing Cocktail</h1>

        <div>
          <%= render 'formedit', cocktail: @cocktail %>
        </div>
      </div>
    </div>
  </div>
</div>
