h1 {
  font-weight: lighter;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #E83151;
  font-size: 16px;
  margin: 5px 25px;
}

.index-cocktails {
  margin-top: 110px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E83151;
  padding: 25px;
  margin-right: 20px;
  margin-left: 20px;

  h1 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 20px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .fa {
    color: white;
    font-size: 16px;
    margin: 3px;
  }
}

abbr {
  display: none;
}

.cocktail_show {
  margin-top: 110px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E83151;
  padding: 25px;
  margin-right: 20px;
  margin-left: 20px;

  h1 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 30px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  h3 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 20px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }
  a {
    color: #E83151;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  ul {
    list-style: none;
  }

  li {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
   }
}

.new-ingredient {
  margin-top: 110px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E83151;
  padding: 25px;
  margin-right: 20px;
  margin-left: 20px;

  h1 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 30px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .control-label {
    color:#999999;
    // font-weight: lighter;
    font-size: 17px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .btn-medium {
    background-color: transparent;
  }
}

.new-cocktail {
  margin-top: 110px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E83151;
  padding: 25px;
  margin-right: 20px;
  margin-left: 20px;

  h1 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 30px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .control-label {
    color:#999999;
    // font-weight: lighter;
    font-size: 17px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .btn-medium {
    background-color: transparent;
  }
}

.cocktail-edit {
  margin-top: 110px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E83151;
  padding: 25px;
  margin-right: 20px;
  margin-left: 20px;

  h1 {
    color:#E83151;
    // font-weight: lighter;
    font-size: 30px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .control-label {
    color:#999999;
    // font-weight: lighter;
    font-size: 17px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  .btn-medium {
    background-color: transparent;
  }
}

