<div class="container">
  <div class="dose-edit">
    <div class="row">
      <div class='col-xs-12 col-sm-6'>
        <h1>Editing Dose</h1>
        <br>

        <%= render 'form', dose: @dose %>

        <%= link_to 'Show', @dose %> |
        <%= link_to 'Back', doses_path %>
      </div>
    </div>
  </div>
</div>
