.btn-medium {
  color: #999999;
  border: 1px solid #E83151;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 5px 10px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #E83151;
}
