  .cocktail-card {
    height: 200px;
    // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    border: 1px solid #E83151;
    padding: 10px;
    margin: 10px;

    #links a {
      color: #E83151;
    }

    h3 a {
      color: white;
    }
  }


